---
import { Image } from "@astrojs/image/components";
export interface Props {
   name: string;
   desc: string;
   link: string;
   img: string;
}

const { name, desc, link, img } = Astro.props;
---

<article class="group overflow-hidden">
   <Image
      src={img}
      alt={name}
      format="webp"
      width={400}
      height={350}
      position="center"
      aspectRatio="1:1"
      fit="contain"
      class="image mx-auto"
      background={"#111111"}
   />
   <div class="description group-hover:-bottom-full z-20">
      <a href={link} target="_blank" rel="noopener noreferrer">
         <span class="uppercase text-xl font-extrabold pb-4">{name}</span>
         <p class="leading-tight opacity-80">{desc}</p>
      </a>
   </div>
</article>

<style>
   article {
      @apply h-auto rounded-3xl relative border-zinc-700 border-2;
   }
   article:hover {
      @apply duration-150 ease-in-out;
      animation: shadow-drop-center 0.4s linear both;
   }
   article .content {
      @apply inset-0 absolute transition-all duration-300 z-10;
   }
   article .description {
      @apply absolute -bottom-0 bg-zinc-800/70 backdrop-blur-md rounded-t-md inset-x-0 transition-all duration-500 p-4;
   }
   .image {
      @apply group-hover:scale-150 transition-all duration-500;
   }
</style>
